USE [KRR-PA-REP-SBF]
GO

/****** Object:  Table [dbo].[FuelSale]    Script Date: 13.02.2019 19:58:30 ******/
DROP TABLE [dbo].[FuelSale]
GO



/****** Object:  Table [dbo].[SAP_Buffer]    Script Date: 13.02.2019 19:58:40 ******/
DROP TABLE [dbo].[SAP_Buffer]
GO


/****** Object:  Table [dbo].[SAP_Buffer]    Script Date: 13.02.2019 19:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAP_Buffer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[TIME] [time](7) NOT NULL,
	[LOGIN_R] [nvarchar](40) NOT NULL,
	[N_BAK] [nvarchar](200) NOT NULL,
	[OZM_BAK] [nvarchar](18) NOT NULL,
	[OZM_TREB] [nvarchar](18) NULL,
	[FLAG_R] [nvarchar](1) NOT NULL,
	[PLOTNOST] [nvarchar](40) NULL,
	[VOLUME] [float] NULL,
	[MASS] [float] NULL,
	[LOGIN_EXP] [nvarchar](20) NULL,
	[N_POST] [nvarchar](2) NULL,
	[TRANSP_FAKT] [nvarchar](40) NULL,
	[N_DEB] [nvarchar](10) NULL,
	[N_TREB] [nvarchar](40) NULL,
	[N_POS] [nvarchar](6) NULL,
	[LGORT] [nvarchar](4) NULL,
	[WERKS] [nvarchar](4) NULL,
	[sending] [datetime] NULL,
 CONSTRAINT [PK_SAP_Buffer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SAP_Buffer] ON 

INSERT [dbo].[SAP_Buffer] ([id], [DATE], [TIME], [LOGIN_R], [N_BAK], [OZM_BAK], [OZM_TREB], [FLAG_R], [PLOTNOST], [VOLUME], [MASS], [LOGIN_EXP], [N_POST], [TRANSP_FAKT], [N_DEB], [N_TREB], [LGORT], [WERKS], [sending]) VALUES (1, CAST(N'2019-01-14' AS Date), CAST(N'01:29:03.6360000' AS Time), N'Оператор тест', N'B9', N'107000022', N'000000000310008399', N'2', N'756.834902', NULL, NULL, N'ddd', N'8', N'АЕ 0313 АВ', NULL, N'0003792815', NULL, NULL, CAST(N'2019-01-16T10:49:32.000' AS DateTime))
INSERT [dbo].[SAP_Buffer] ([id], [DATE], [TIME], [LOGIN_R], [N_BAK], [OZM_BAK], [OZM_TREB], [FLAG_R], [PLOTNOST], [VOLUME], [MASS], [LOGIN_EXP], [N_POST], [TRANSP_FAKT], [N_DEB], [N_TREB], [LGORT], [WERKS], [sending]) VALUES (2, CAST(N'2019-01-14' AS Date), CAST(N'01:29:47.9910000' AS Time), N'Оператор тест', N'B16', N'0', N'000000000310008399', N'6', N'762.716783', NULL, NULL, N'tttt', N'2', N'100104/АЕ 2943 ВВ/МАЗ 533603-240', N'100104', N'0003792815', NULL, NULL, CAST(N'2019-01-16T10:49:38.000' AS DateTime))
INSERT [dbo].[SAP_Buffer] ([id], [DATE], [TIME], [LOGIN_R], [N_BAK], [OZM_BAK], [OZM_TREB], [FLAG_R], [PLOTNOST], [VOLUME], [MASS], [LOGIN_EXP], [N_POST], [TRANSP_FAKT], [N_DEB], [N_TREB], [LGORT], [WERKS], [sending]) VALUES (3, CAST(N'2019-01-15' AS Date), CAST(N'10:41:35.9200000' AS Time), N'Оператор тест', N'B2', N'107000022', N'000000000107000027', N'3', N'759.00', NULL, NULL, N'ee', N'8', N'АЕ 0313 АВ', NULL, N'8001643127', N'435 ', NULL, CAST(N'2019-01-16T10:49:41.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SAP_Buffer] OFF

go

/****** Object:  Table [dbo].[FuelSale]    Script Date: 13.02.2019 19:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelSale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operator_name] [nvarchar](50) NOT NULL,
	[smena_num] [int] NOT NULL,
	[smena_datetime] [datetime] NOT NULL,
	[trk_num] [int] NOT NULL,
	[side] [bit] NOT NULL,
	[num] [int] NOT NULL,
	[fuel_type] [int] NOT NULL,
	[tank_num] [nvarchar](200) NOT NULL,
	[id_card] [int] NOT NULL,
	[dose] [numeric](9, 3) NULL,
	[passage] [char](1) NOT NULL,
	[volume] [numeric](9, 3) NULL,
	[mass] [numeric](9, 3) NULL,
	[start_datetime] [datetime] NOT NULL,
	[start_level] [numeric](7, 1) NOT NULL,
	[start_volume] [numeric](9, 1) NOT NULL,
	[start_density] [numeric](9, 5) NOT NULL,
	[start_mass] [numeric](9, 1) NOT NULL,
	[start_temp] [numeric](3, 1) NOT NULL,
	[start_water_level] [numeric](6, 1) NOT NULL,
	[start_counter] [int] NOT NULL,
	[stop_datetime] [datetime] NULL,
	[stop_level] [numeric](7, 1) NULL,
	[stop_volume] [numeric](9, 1) NULL,
	[stop_density] [numeric](9, 5) NULL,
	[stop_mass] [numeric](9, 1) NULL,
	[stop_temp] [numeric](3, 1) NULL,
	[stop_water_level] [numeric](6, 1) NULL,
	[stop_counter] [int] NULL,
	[close] [datetime] NULL,
	[id_sap] [int] NULL,
	[sending] [datetime] NULL,
 CONSTRAINT [PK_FuelSale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FuelSale] ON 

SET IDENTITY_INSERT [dbo].[FuelSale] OFF
ALTER TABLE [dbo].[FuelSale]  WITH CHECK ADD  CONSTRAINT [FK_FuelSale_SAP_Buffer] FOREIGN KEY([id_sap])
REFERENCES [dbo].[SAP_Buffer] ([id])
GO
ALTER TABLE [dbo].[FuelSale] CHECK CONSTRAINT [FK_FuelSale_SAP_Buffer]
GO
