USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[FuelSale]    Script Date: 07.02.2019 16:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelSale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operator_name] [nvarchar](50) NOT NULL,
	[smena_num] [int] NOT NULL,
	[smena_datetime] [datetime] NOT NULL,
	[trk_num] [int] NOT NULL,
	[side] [bit] NOT NULL,
	[num] [int] NOT NULL,
	[fuel_type] [int] NOT NULL,
	[tank_num] [nvarchar](200) NOT NULL,
	[id_card] [int] NOT NULL,
	[dose] [numeric](9, 3) NULL,
	[passage] [char](1) NOT NULL,
	[volume] [numeric](9, 3) NULL,
	[mass] [numeric](9, 3) NULL,
	[start_datetime] [datetime] NOT NULL,
	[start_level] [numeric](7, 1) NOT NULL,
	[start_volume] [numeric](9, 1) NOT NULL,
	[start_density] [numeric](9, 5) NOT NULL,
	[start_mass] [numeric](9, 1) NOT NULL,
	[start_temp] [numeric](3, 1) NOT NULL,
	[start_water_level] [numeric](6, 1) NOT NULL,
	[start_counter] [int] NOT NULL,
	[stop_datetime] [datetime] NULL,
	[stop_level] [numeric](7, 1) NULL,
	[stop_volume] [numeric](9, 1) NULL,
	[stop_density] [numeric](9, 5) NULL,
	[stop_mass] [numeric](9, 1) NULL,
	[stop_temp] [numeric](3, 1) NULL,
	[stop_water_level] [numeric](6, 1) NULL,
	[stop_counter] [int] NULL,
	[close] [datetime] NULL,
	[id_sap] [int] NULL,
	[sending] [datetime] NULL,
 CONSTRAINT [PK_FuelSale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FuelSale] ON 

SET IDENTITY_INSERT [dbo].[FuelSale] OFF
ALTER TABLE [dbo].[FuelSale]  WITH CHECK ADD  CONSTRAINT [FK_FuelSale_SAP_Buffer] FOREIGN KEY([id_sap])
REFERENCES [dbo].[SAP_Buffer] ([id])
GO
ALTER TABLE [dbo].[FuelSale] CHECK CONSTRAINT [FK_FuelSale_SAP_Buffer]
GO
