body {
    font-size: 11px;
}

div {
    border-radius: 3px;
}

legend {
    padding: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.ui-progressbar {
    position: relative;
}

.ui-progressbar-value {
    background-color: #b6ff00;
}

.progress-label {
    position: absolute;
    left: 40%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}


.overflow {
    height: 200px;
}

/*Блокировка экрана*/
.LockOff {
    display: none;
    visibility: hidden;
}

.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 1000%;
    background-color: #ccc;
    text-align: center;
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #0033CC;
}

/*ТРК*/

div.trk-all {
    width: auto;
    margin: 0 10px;
    /*border: 1px dotted red;*/
}

div.trk {
    float: left;
    border: 1px solid #808080;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.trk-left {
    float: left;
    border: 1px solid #808080;
}

div.trk-right {
    margin-left: 3px;
    float: left;
    border: 1px solid #808080;
}

div.cls {
    clear: left;
}

/*Индикатор сотояния дискретных данных*/
td.active {
    width: 20px;
    height: 20px;
    background: url('../../Images/active.png') no-repeat center center;
}

td.not_active {
    width: 20px;
    height: 20px;
    background: url('../../Images/not_active.png') no-repeat center center;
}

td.null_active {
    width: 20px;
    height: 20px;
    background: url('../../Images/null_active.png') no-repeat center center;
}

.error {
    background: #fddfdf
}


/*RFID*/
div.trk-rfid {
    background-color: #ccc;
    margin: 3px 3px;
    height: 30px;
}

.table-rfid {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10px;
}

.button-rfid-all, .button-tanks {
    margin: 3px;
    height: 20px;
    font-size: 11px;
    background-color: #b6ff00;
}

.button-rfid {
    margin: 3px;
    height: 20px;
    font-size: 11px;
}

.button-rfid-active {
    background-color: #b6ff00;
}

    .button-rfid-active:hover {
        background-color: #9cd905;
    }

.button-rfid-not-active {
    background-color: #fe9a7f;
}

    .button-rfid-not-active:hover {
        background-color: #ff7259;
    }

.label-rfid {
    font-weight: normal;
    font-style: italic;
    color: crimson;
}

/*guns*/
.trk-guns {
    padding: 0 3px;
}

.trk-gun {
    float: left;
    margin: 3px;
    border: 1px solid #808080;
    padding: 0 3px;
    height: 155px;
}

.table-gun {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11px;
    font-weight: normal;
}

.trk-gun-active {
    background-color: #fff8bb;
}

.trk-gun-run {
    background-color: #e1faa4;
}

.trk-gun-stop {
    background-color: #9cd905;
}

.trk-gun-close {
    background-color: #d0ebfe;
}

.trk-gun-error {
    background-color: #ffc3c3;
}

.table-gun th {
    text-align: right;
    font-weight: bold;
}

.table-gun td {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 70px;
}

    .table-gun td input {
        width: 95%;
    }

/*ns*/

div.ns-all {
    width: auto;
    margin: 0 10px;
    /*border: 1px dotted red;*/
}

div.ns {
    float: left;
    border: 1px solid #808080;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.trk-ns {
    padding: 0 3px;
}

.trk-ns {
    float: left;
    margin: 3px;
    border: 1px solid #808080;
    padding: 0 3px;
    height: 155px;
}

.table-ns {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11px;
    font-weight: normal;
}

    .table-ns th {
        text-align: right;
        font-weight: bold;
    }

    .table-ns td {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        width: 70px;
    }

        .table-ns td input {
            width: 95%;
        }

/*кнопки*/
.button-deliver, .button-risers, .button-kerosene {
    margin: 3px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: aquamarine;
}

.button-close {
    margin: 3px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: khaki;
}

.button-continue {
    margin: 3px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: khaki;
}

.button-stop {
    margin: 3px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: #ff7259;
    float: left;
}

/*Окно confirm-rfid-all*/
body div[aria-describedby="confirm-rfid-all"] {
    font-size: 14px;
}

.table-confirm-rfid-all {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

    .table-confirm-rfid-all th {
        text-align: center;
        font-weight: normal;
        font-size: 12px;
    }

    .table-confirm-rfid-all td {
        text-align: center;
        font-size: 12px;
        /*font-weight: bold;*/
    }

/*Окно RFID*/

body div[aria-describedby="confirm-rfid-card"] {
    font-size: 14px;
}

.table-confirm-rfid-card {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
}

    .table-confirm-rfid-card th {
        text-align: right;
        font-weight: normal;
    }

    .table-confirm-rfid-card td {
    }

        .table-confirm-rfid-card td input {
            color: blue;
            width: 95%;
            font-style: italic;
        }

        .table-confirm-rfid-card td textarea {
            color: blue;
            width: 95%;
            font-style: italic;
        }

/*Окно выдачи топлива*/

body div[aria-describedby="confirm-deliver-fuel"] {
    font-size: 14px;
}

.confirm-deliver-fuel {
    font-size: 14px;
}

.table-confirm-deliver-fuel {
}

    .table-confirm-deliver-fuel td fieldset {
        padding: 3px;
        margin: 3px;
        border: 1px solid #c0c0c0;
    }

    .table-confirm-deliver-fuel td legend {
        padding: 0;
        border: 0;
        width: auto;
        font-size: 14px;
        /*font-weight: bold;*/
        font-style: italic;
        color: #808080;
        margin-bottom: 0;
    }

.table-delivery-fuel {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
}

    .table-delivery-fuel th {
        text-align: right;
        font-weight: normal;
    }

    .table-delivery-fuel td {
    }

        .table-delivery-fuel td input {
            /*color: blue;*/
            width: 95%;
            font-style: italic;
        }

        .table-delivery-fuel td textarea {
            /*color: blue;*/
            width: 95%;
            font-style: italic;
        }

.table-delivery-sap {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
}

    .table-delivery-sap tr.line {
        border-top: 1px solid #c0c0c0;
        margin-top: 3px;
    }

    .table-delivery-sap th {
        width: 200px;
        text-align: right;
        font-weight: normal;
    }

        .table-delivery-sap th label {
            font-weight: normal;
        }

    .table-delivery-sap td {
        width: 300px;
    }

        .table-delivery-sap td input {
            /*color: blue;*/
            width: 95%;
            font-style: italic;
        }

        .table-delivery-sap td textarea {
            /*color: blue;*/
            width: 95%;
            font-style: italic;
        }


.input-varning {
    background-color: #b6ff00;
}

.input_edit {
    background-color: #e3efc5;
}

.input_view {
    background-color: #eeeaea;
}

.ui-button .ui-widget .input_edit {
    background-color: #e3efc5;
}


/*Окно dialog-message*/
body div[aria-describedby="dialog-message"] {
    font-size: 14px;
}

.table-dialog-message {
    border-collapse: collapse;
    border-spacing: 0;
}

    .table-dialog-message th {
        width: 200px;
        text-align: right;
        font-weight: normal;
    }

    .table-dialog-message td {
        width: 200px;
        text-align: left;
    }

        .table-dialog-message td label {
            font-weight: normal;
            font-style: italic;
            color: blue;
        }

/*Окно dialog-close-fuel*/
body div[aria-describedby="dialog-close-fuel"] {
    font-size: 14px;
}


.table-dialog-close-fuel {
    border-collapse: collapse;
    border-spacing: 0;
}

    .table-dialog-close-fuel th {
        /*width: 200px;*/
        text-align: right;
        font-weight: normal;
    }

    .table-dialog-close-fuel td {
        /*width: 200px;*/
        text-align: center;
    }

        .table-dialog-close-fuel td input {
            font-weight: normal;
            font-style: italic;
            color: blue;
        }

            .table-dialog-close-fuel td input.new_data {
                color: crimson;
            }

/*Окно RFID*/

body div[aria-describedby="dialog-tags-gun"] {
    font-size: 14px;
}

.table-dialog-tags-gun {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
}

    .table-dialog-tags-gun th {
        text-align: right;
        font-weight: normal;
    }

    .table-dialog-tags-gun td {
    }

        .table-dialog-tags-gun td label {
            color: blue;
            width: 95%;
            font-style: italic;
        }

/*Окно confirm-tanks*/

body div[aria-describedby="confirm-tanks"] {
    font-size: 14px;
}

.table-confirm-tanks {
    border-collapse: collapse;
    border-spacing: 0;
    /*font-size: 12px;
    font-weight: normal;*/
}

    .table-confirm-tanks th {
        text-align: center;
        font-weight: normal;
        font-size: 14px;
    }

    .table-confirm-tanks td {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
    }
