body {
    font-size:11px;
}

div {
    border-radius: 3px;
}

legend {
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/*Блокировка экрана*/
.LockOff {
    display: none;
    visibility: hidden;
}
.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 1000%;
    background-color: #ccc;
    text-align: center;
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #0033CC;
}

/*ТРК*/

div.trk-all {
    width:auto;
    margin:0 10px;
    border: 1px dotted red;
}

div.trk {
    float: left;
    border: 1px solid #808080;
    width: auto;
    margin-right:5px;
    margin-bottom:5px;
}

div.trk-left {

    float: left;
    border: 1px solid #808080;
}

div.trk-right {
    margin-left: 10px;

    float: left;
    border: 1px solid #808080;
}

div.cls {
    clear: left;
}

/*Индикатор сотояния дискретных данных*/
td.active {
    width: 20px;
    height: 20px;
    background: url('../../Images/active.png') no-repeat center center;
}

td.not_active {
    width: 20px;
    height: 20px;
    background: url('../../Images/not_active.png') no-repeat center center;
}

td.null_active {
    width: 20px;
    height: 20px;
    background: url('../../Images/null_active.png') no-repeat center center;
}

/*RFID*/
div.trk-rfid{
    background-color:#ccc;
    margin:3px 3px;
    height:30px;
}
.table-rfid {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10px;
}

.button-rfid {
    margin: 3px;
    height: 20px;
    font-size: 11px;
}

.button-rfid-active {
    background-color: #b6ff00;
}

    .button-rfid-active:hover {
        background-color: #9cd905;
    }

.button-rfid-not-active {
    background-color: #fe9a7f;
}

    .button-rfid-not-active:hover {
        background-color: #ff7259;
    }

/*guns*/
.trk-guns {
    padding: 0 3px;
}

.trk-gun {
    float: left;
    margin: 3px;
    border: 1px solid #808080;
    padding: 0 3px;
    height:155px;
}

.table-gun {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11px;
    font-weight: normal;
}

    .table-gun th {
        text-align:right;
        font-weight:bold;
    }

    .table-gun td {
        text-align:left;
        width:100px;
    }

        .table-gun td input {
            width:95%;
        }

/*кнопки*/
.button-deliver, .button-risers, .button-kerosene {
    margin: 3px;
    height: 20px;
    font-size: 10px;
    background-color: aquamarine;
}

.button-close {
    margin: 3px;
    height: 20px;
    font-size: 10px;
    background-color: khaki;
}