td.active {
    width: 20px;
    height: 20px;
    background: url('../../Images/active.png') no-repeat center center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-rfid {
}

.table-rfid td {
    text-align:center;
}
.table tr, .table th {
    /*border: 2px solid #dddddd;*/
}

td.not_active {
    width: 20px;
    height: 20px;
    background: url('../../Images/not_active.png') no-repeat center center;
}

td.null_active {
    width:20px;
    height:20px;
    background: url('../../Images/null_active.png') no-repeat center center;
}

td.error {
    width: 100px;
    background: #fddfdf
}

td.ok {
    width: 100px;
    background: #ffffff;
}

.trk {
    border: 1px solid #808080;
}

.trk-left {
    width:400px;
    float:left
}

.trk-right {
    width: 400px;
    float:left
}
.gun-status{
    text-align:left;
    width:60px;
}
.gun-status-value {
    text-align: right;
    width:100px;
}

table#delivery-fuel {

}

table#delivery-fuel th {
    width:150px;
    text-align:right;
}

table#delivery-fuel td {
    width:150px;
    text-align:left;
    padding:5px;
}
table#delivery-fuel td input {
    /*margin:5px;*/
    /*width:130px;*/
    /*height:30px;*/
}


