/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[type]
      ,[date_start]
      ,[date_stop]
      ,[volume_start]
      ,[mass_start]
      ,[dens_start]
      ,[temp_start]
      ,[volume15_start]
      ,[mass15_start]
      ,[dens15_start]
      ,[volume_received]
      ,[mass_received]
      ,[dens_received]
      ,[temp_received]
      ,[volume15_received]
      ,[mass15_received]
      ,[dens15_received]
      ,[volume_delivery]
      ,[mass_delivery]
      ,[dens_delivery]
      ,[temp_delivery]
      ,[volume15_delivery]
      ,[mass15_delivery]
      ,[dens15_delivery]
      ,[volume_stop]
      ,[mass_stop]
      ,[dens_stop]
      ,[temp_stop]
      ,[volume15_stop]
      ,[mass15_stop]
      ,[dens15_stop]
      ,[permissible_error]
  FROM [ASU_AZSoperations].[dbo].[Daily_Accounting_Report] order by 1 desc
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[dt]
      ,[dt_actual]
      ,[fuel_type]
      ,[tank]
      ,[level]
      ,[volume]
      ,[dens]
      ,[dens_avg]
      ,[mass]
      ,[temp]
      ,[relation]
      ,[ratio_vd]
      ,[ratio_tv]
      ,[dens15]
      ,[volume15]
      ,[mass15]
  FROM [ASU_AZSoperations].[dbo].[RemainsTanks] order by 1 desc
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[dt]
      ,[id_table]
      ,[id_receiving_fuel]
      ,[num]
      ,[fuel]
      ,[start_datetime]
      ,[start_level]
      ,[start_volume]
      ,[start_density]
      ,[start_density_avg]
      ,[start_mass]
      ,[start_temp]
      ,[start_water_level]
      ,[stop_datetime]
      ,[stop_level]
      ,[stop_volume]
      ,[stop_density]
      ,[stop_density_avg]
      ,[stop_mass]
      ,[stop_temp]
      ,[stop_water_level]
      ,[volume_received]
      ,[dens_received]
      ,[mass_received]
      ,[temp_received]
      ,[relation]
      ,[ratio_vd]
      ,[ratio_tv]
      ,[dens15]
      ,[volume15]
      ,[mass15]
  FROM [ASU_AZSoperations].[dbo].[ReceivingTanks] order by 1 desc
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[dt]
      ,[id_table]
      ,[trk_num]
      ,[side]
      ,[num]
      ,[fuel_type]
      ,[tank_num]
      ,[dose]
      ,[passage]
      ,[volume]
      ,[mass]
      ,[start_datetime]
      ,[start_volume]
      ,[start_dens_avg]
      ,[start_mass]
      ,[start_temp]
      ,[start_counter]
      ,[stop_datetime]
      ,[stop_volume]
      ,[stop_dens_avg]
      ,[stop_mass]
      ,[stop_temp]
      ,[stop_counter]
      ,[dens_avg_delivery]
      ,[volume_delivery]
      ,[mass_delivery]
      ,[temp_delivery]
      ,[relation]
      ,[ratio_vd]
      ,[ratio_tv]
      ,[dens15]
      ,[volume15]
      ,[mass15]
  FROM [ASU_AZSoperations].[dbo].[DeliveryTanks] order by 1 desc