<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.theme.css">

    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Content/view/trk.css">

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/view/common.js" type="text/javascript"></script>
    <script src="~/Scripts/view/trk.js" type="text/javascript"></script>

</head>
<body>
    <div id="content">
        <div id="trk-6" class="trk">
            <fieldset>
                <legend>Колонка №: 6</legend>
                <div class="trk-left">
                    <fieldset>
                        <legend>Левая сторона</legend>
                        <fieldset>
                            <legend>RFID-Карта</legend>
                            <table id="rfid-6-left" class="table-rfid">
                                <tr>
                                    <th>Актив.</th>
                                    <th>ID </th>
                                    <th>№ карты</th>
                                    <th>№ авто</th>
                                </tr>
                                <tr>
                                    <td id="rfid-6-left-card-active"></td>
                                    <td id="rfid-6-left-card-id"></td>
                                    <td id="rfid-6-left-card-number"></td>
                                    <td id="rfid-6-left-card-autonum"></td>
                                    @*<td id="rfid-6-left-card-fio"></td>*@
                                </tr>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend>Пистолет №11</legend>
                            <table id="gun">
                                <caption>Пистолет №11</caption>
                                <tr>
                                    <td id="gun11-online"></td>
                                    <th class="gun-status">Связь</th>
                                    <th class="gun-status-value">Всего, м3:</th>
                                    <td id="gun11-total_volume"></td>
                                </tr>
                                <tr>
                                    <td id="gun11-taken"></td>
                                    <th class="gun-status" id="">Снят</th>
                                    <th class="gun-status-value">Заданно, л:</th>
                                    <td id="gun11-volume_to_write"></td>
                                </tr>
                                <tr>
                                    <td id="gun11-extradition"></td>
                                    <th class="gun-status" id="">Выдача</th>
                                    <th class="gun-status-value">Выдано, л:</th>
                                    <td id="gun11-last_out_volume"></td>
                                </tr>
                                <tr><td colspan="3"><div id="progressbar-gun11"></div></td><td><button id="11" name="deliver" class="deliver ui-button ui-widget ui-corner-all">Выдать</button></td></tr>
                            </table>

                        </fieldset>
                    </fieldset>
                </div>
                <div class="trk-right">
                    <fieldset>
                        <legend>Правая сторона</legend>
                        <table id="rfid-6-right">
                            <tr>
                                <td id="card-active"></td>
                                <td id="card-id"></td>
                                <td id="card-autonum"></td>
                                <td id="card-fio"></td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>

    <table>
        <tr>
            <th><label id="number" for="number-value">Текущее время :</label></th>
            <td><label id="date-value"></label></td>
        </tr>
        <tr>
            <th><label id="number" for="number-value">Номер карточки :</label></th>
            <td><label id="number-value"></label></td>
        </tr>
        <tr>
            <th><label id="autonumber" for="autonumber-value">Номер автомобиля :</label></th>
            <td><label id="autonumber-value"></label></td>
        </tr>
        <tr>
            <th><label id="current_volume" for="current_volume-value">current_volume :</label></th>
            <td><label id="current_volume-value"></label></td>
        </tr>
        <tr>
            <th><label id="density" for="density-value">density :</label></th>
            <td><label id="density-value"></label></td>
        </tr>
        <tr>
            <th><label id="last_out_volume" for="last_out_volume-value">last_out_volume :</label></th>
            <td><label id="last_out_volume-value"></label></td>
        </tr>
        <tr>
            <th><label id="online" for="online-value">online :</label></th>
            <td><label id="online-value"></label></td>
        </tr>
        <tr>
            <th><label id="passage" for="passage-value">passage :</label></th>
            <td><label id="passage-value"></label></td>
        </tr>
        <tr>
            <th><label id="price_to_write" for="price_to_write-value">price_to_write :</label></th>
            <td><label id="price_to_write-value"></label></td>
        </tr>
        <tr>
            <th><label id="start" for="start-value">start :</label></th>
            <td><label id="start-value"></label></td>
        </tr>
        <tr>
            <th><label id="state" for="state-value">state :</label></th>
            <td><label id="state-value"></label></td>
        </tr>
        <tr>
            <th><label id="stop" for="stop-value">stop :</label></th>
            <td><label id="stop-value"></label></td>
        </tr>
        <tr>
            <th><label id="taken" for="taken-value">taken :</label></th>
            <td><label id="taken-value"></label></td>
        </tr>
        <tr>
            <th><label id="total_volume" for="total_volume-value">total_volume :</label></th>
            <td><label id="total_volume-value"></label></td>
        </tr>
        <tr>
            <th><label id="Trk06_0_status" for="Trk06_0_status-value">Trk06_0_status :</label></th>
            <td><label id="Trk06_0_status-value"></label></td>
        </tr>
        <tr>
            <th><label id="volume_to_write" for="volume_to_write-value">volume_to_write :</label></th>
            <td><label id="volume_to_write-value"></label></td>
        </tr>
        <tr>
            <th><label id="write_price" for="write_price-value">write_price :</label></th>
            <td><label id="write_price-value"></label></td>
        </tr>
    </table>

    <div id="deliver-fuel-confirm" title="" style="display:none">
        <form id="form-deliver-fuel">
            <table>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Выдача топлива</legend>
                                <table id="delivery-fuel" class="display">
                                    <tr>
                                        <th><label for="Active" id="label-active-cards">Карта активная:</label></th>
                                        <td><input id="Active" name="Active" type="checkbox" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    <tr>
                                        <th><label for="Number" id="label-number-cards">Номер карты:</label></th>
                                        <td><input id="Number" name="Number" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    <tr>
                                        <th><label for="AutoNumber" id="label-autonumber-cards">Номер авто:</label></th>
                                        <td><input id="AutoNumber" name="AutoNumber" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    <tr>
                                        <th><label for="Taken" id="label-taken">Пистолет снят:</label></th>
                                        <td><input id="Taken" name="Active" type="checkbox" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    <tr>
                                        <th><label for="DoseFuel" id="label-dose-fuel">Доза топлива:</label></th>
                                        <td><input id="DoseFuel" name="DoseFuel" type="number" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    @*<tr>
                                            <th><label for="AutoModel" id="label-automodel-cards"></label></th>
                                            <td><input id="AutoModel" name="AutoModel" type="text" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                        </tr>*@

                                    <tr>
                                        <th><label for="Passage" id="label-passage">Технический пролив</label></th>
                                        <td><input id="Passage" name="Passage" type="checkbox" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                    </tr>
                                    <tr>
                                        <td></td><td><button id="start" type="button" class="ui-button ui-widget ui-corner-all">Начать выдачу</button></td>
                                    </tr>
                                </table>

                        </fieldset>
                    </td>
                    <td>
                        <fieldset>
                            <legend>САП</legend>

                        </fieldset>
                    </td>
                </tr>
            </table>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

        </form>
    </div>

</body>

</html>

<div id="confirm-deliver-fuel" title="" style="display:none">
    <form id="form-deliver-fuel">
        <table>
            <tr>
                <td>
                    <fieldset>
                        <legend>Выдача топлива</legend>
                        <table id="delivery-fuel">
                            <tr>
                                <th><label for="deliver-Active" id="label-active-cards">Карта активная:</label></th>
                                <td><input id="deliver-Active" name="Active" type="checkbox" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th><label for="deliver-Number" id="label-number-cards">Номер карты:</label></th>
                                <td><input id="deliver-Number" name="Number" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th><label for="deliver-AutoNumber" id="label-autonumber-cards">Номер авто:</label></th>
                                <td><input id="deliver-AutoNumber" name="AutoNumber" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th><label for="deliver-Taken" id="label-taken">Пистолет снят:</label></th>
                                <td><input id="deliver-Taken" name="Active" type="checkbox" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th><label for="deliver-Capacity" id="label-capacitys">Емкость:</label></th>
                                <td><select id="deliver-Capacity" name="Capacity" class="ui-widget-content ui-corner-all"></select></td>
                            </tr>
                            <tr>
                                <th><label for="deliver-DoseFuel" id="label-dose-fuel">Доза топлива:</label></th>
                                <td><input id="deliver-DoseFuel" name="DoseFuel" type="number" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            @*<tr>
                                    <th><label for="AutoModel" id="label-automodel-cards"></label></th>
                                    <td><input id="AutoModel" name="AutoModel" type="text" class="confirm-input ui-widget-content ui-corner-all" /></td>
                                </tr>*@

                            <tr>
                                <th><label for="deliver-Passage" id="label-passage">Технический пролив</label></th>
                                <td><input id="deliver-Passage" name="Passage" type="checkbox" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            @*<tr>
                                    <td></td>
                                    <td><button id="start" type="button" class="ui-button ui-widget ui-corner-all">Начать выдачу</button></td>
                                </tr>*@
                        </table>

                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        <legend>САП</legend>
                        Вариант выдачи:<select id="deliver-variant-sap" name="variant-sap" class="ui-widget-content ui-corner-all"></select>
                        <table id="delivery-sap">
                            <tr id="sap-num-ishod-postavki">
                                <th>
                                    Номер исх.поставки:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-ishod-postavki" name="sap-num-ishod-postavki" type="number" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>

                            <tr id="sap-num-position-ip">
                                <th>
                                    Номер позиции ИП:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-position-ip" name="sap-num-position-ip" type="number" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-num-rezerv">
                                <th>
                                    Номер резервирования:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-rezerv" name="sap-num-rezerv" type="number" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-num-m11">
                                <th>
                                    Номер требования М-11:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-m11" name="sap-num-m11" type="number" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>

                            <tr id="sap-num-TC">
                                <th>
                                    Номер ТС фактический:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-TC" name="sap-num-rezerv" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-num-kpp">
                                <th>
                                    № КПП:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-num-kpp" name="sap-num-kpp" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-fio-exp">
                                <th>
                                    ФИО экспедитора:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-fio-exp" name="sap-fio-exp" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-ozm-rezerv">
                                <th>
                                    ОЗМ из резервирования:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-ozm-rezerv" name="sap-ozm-rezerv" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>

                            <tr id="sap-ozm-postavka">
                                <th>
                                    ОЗМ из поставки:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-ozm-postavka" name="sap-ozm-postavka" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-ozm">
                                <th>
                                    ОЗМ:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-ozm" name="sap-ozm" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-ozm-bak">
                                <th>
                                    ОЗМ согласно бака:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-ozm-bak" name="sap-ozm-bak" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-sklad-pol-reserv">
                                <th>
                                    Склад получателя из резервирования:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-sklad-pol-reserv" name="sap-sklad-pol-reserv" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-sklad-pol">
                                <th>
                                    Склад получателя:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-sklad-pol" name="sap-sklad-pol" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-sklad-pol-mat-ip">
                                <th>
                                    Получатель материала в ИП:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-sklad-pol-mat-ip" name="sap-sklad-pol-mat-ip" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-zavod-pol">
                                <th>
                                    Завод-получатель:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-zavod-pol" name="sap-zavod-pol" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            <tr id="sap-id-card">
                                <th>
                                    ИД карта:
                                </th>
                                <td>
                                <td>
                                    <input id="sap-id-card" name="sap-id-card" type="text" class="confirm-input ui-widget-content ui-corner-all" />
                                </td>
                            </tr>
                            @*•	Номер резервирования (открыто для ввода, справочника нет) – импорт при вызове вебсервиса
                                •	Номер позиции – открыт для ввода – импорт при вызове вебсервиса
                                •	Номер ТС фактический (открыто для ввода, справочника нет)
                                •	№ КПП (открыто для ввода, справочника нет)
                                •	ФИО экспедитора (открыто для ввода, справочника нет)
                                •	ОЗМ из резервирования (в режиме просмотра) – экспорт из SAP MII
                                •	ОЗМ согласно бака (в режиме просмотра) - Код ОЗМ+ название ОЗМ (на основании справочника в АСУ)
                                •	Склад получателя из резервирования (в режиме просмотра) – экспорт из SAP MII (код склада+наименование склада)
                                •	Завод-получатель (в режиме просмотра) – экспорт из SAP MII
                                                        •	ИД карта (открыто для ввода, справочник в АСУ)*@

                            @*•	Номер исх.поставки (открыто для ввода, справочника нет) – импорт при вызове вебсервиса
                                •	Номер позиции ИП (просмотр) – экспорт из SAP MII
                                •	Номер ТС фактический (открыто для ввода, справочника нет)
                                •	№ КПП (в режиме изменения) – ввод вручную
                                •	ФИО экспедитора (в режиме изменения) – ввод вручную
                                •	ОЗМ из поставки (в режиме просмотра) – экспорт из SAP MII
                                •	ОЗМ согласно бака (колонки) (в режиме просмотра)  (на основании справочника в АСУ)
                                •	Склад получателя = Получатель материала в ИП (в режиме просмотра) – экспорт из SAP MII (вывести номер дебитора + Наименование дебитора)*@

                            @*•	Номер требования М-11 (открыто для ввода, справочника нет)
                                •	Номер ТС фактический (открыто для ввода, справочника нет)
                                •	№ КПП (открыто для ввода, справочника нет)
                                •	ФИО экспедитора (открыто для ввода, справочника нет)
                                •	ОЗМ (открыто для ввода, справочник есть, ввод только из справочника АСУ) + название ОЗМ
                                •	ОЗМ согласно бака (в режиме просмотра) + название ОЗМ (вывод из справочника в АСУ)
                                •	Склад получателя (открыто для ввода, справочник есть, ввод только из справочника) +Наименование склада
                                •	Завод получателя (открыто для ввода, справочник есть, ввод только из справочника)*@

                            @*•	Номер резервирования (открыто для ввода, справочника нет) – импорт при вызове вебсервиса
                                •	Номер позиции – открыт для ввода – импорт при вызове вебсервиса
                                •	Номер ТС фактический (справочник дебиторов, загруженный в базу АСУ из SAP)  - номер дебитора, номер ТС, марка ТС. – подтягивается автоматически по ИД карте.
                                •	№ КПП (открыто для ввода, справочника нет)
                                •	ФИО экспедитора (открыто для ввода, справочника нет)
                                •	ОЗМ из резервирования (в режиме просмотра) – экспорт из SAP MII
                                •	ОЗМ согласно бака (в режиме просмотра) - Код ОЗМ+ название ОЗМ (на основании справочника в АСУ)
                                •	Склад получателя из резервирования (в режиме просмотра) – экспорт из SAP MII (код склада+наименование склада)
                                •	Завод-получатель (в режиме просмотра) – экспорт из SAP MII
                                •	ИД карта (открыто для ввода, справочник в АСУ) – сканирование ИД карты, контроль на наличие в справочнике.*@




                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

    </form>
</div>