USE [KRR-PA-CNT-Oil]
GO
/****** Object:  Table [dbo].[Cat_TRK_AZS]    Script Date: 10.10.2019 23:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_TRK_AZS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[trk] [int] NOT NULL,
	[side] [bit] NULL,
	[num] [int] NOT NULL,
	[name_gas_station] [nvarchar](50) NOT NULL,
	[type_fuel] [int] NOT NULL,
	[serial_number_flowmeter] [nvarchar](10) NULL,
	[identification_number_flowmeter] [nvarchar](10) NULL,
	[active] [bit] NOT NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cat_TRK_AZS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cat_TRK_AZS] ON 

INSERT [dbo].[Cat_TRK_AZS] ([id], [name], [trk], [side], [num], [name_gas_station], [type_fuel], [serial_number_flowmeter], [identification_number_flowmeter], [active], [description]) VALUES (1, N'№1', 1, 0, 1, N'Шельф100"2КЕД-50-0,25-1-2', 107000024, N'4758', N'0806Z283', 1, NULL)
INSERT [dbo].[Cat_TRK_AZS] ([id], [name], [trk], [side], [num], [name_gas_station], [type_fuel], [serial_number_flowmeter], [identification_number_flowmeter], [active], [description]) VALUES (2, N'№1', 1, 1, 2, N'Шельф100"2КЕД-50-0,25-1-2', 107000024, N'4758', N'0806E388', 1, NULL)
INSERT [dbo].[Cat_TRK_AZS] ([id], [name], [trk], [side], [num], [name_gas_station], [type_fuel], [serial_number_flowmeter], [identification_number_flowmeter], [active], [description]) VALUES (3, N'№2', 2, 0, 3, N'Шельф100"2КЕД-50-0,25-1-2', 107000024, N'4757', N'0808E092', 1, NULL)
SET IDENTITY_INSERT [dbo].[Cat_TRK_AZS] OFF
