USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[BoxesDoors]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxesDoors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[_NAME] [varchar](64) NULL,
	[_NUMERICID] [int] NULL,
	[_VALUE] [varchar](64) NULL,
	[_TIMESTAMP] [datetime] NULL,
	[_QUALITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BoxesDoors] ON 

INSERT [dbo].[BoxesDoors] ([id], [_NAME], [_NUMERICID], [_VALUE], [_TIMESTAMP], [_QUALITY]) VALUES (1, N'AZS_SHBN.SHBN1.Inp_SHBK1_Door', 0, N'0', CAST(N'2019-10-07T15:50:55.783' AS DateTime), 192)
INSERT [dbo].[BoxesDoors] ([id], [_NAME], [_NUMERICID], [_VALUE], [_TIMESTAMP], [_QUALITY]) VALUES (2, N'AZS_SHBN.SHBN1.Inp_SHBN1_Door', 0, N'0', CAST(N'2019-10-07T15:50:55.783' AS DateTime), 192)
INSERT [dbo].[BoxesDoors] ([id], [_NAME], [_NUMERICID], [_VALUE], [_TIMESTAMP], [_QUALITY]) VALUES (3, N'AZS_SHBN.SHBN2.Inp_SHBK2_Door', 0, N'0', CAST(N'2019-10-07T15:50:55.820' AS DateTime), 192)
SET IDENTITY_INSERT [dbo].[BoxesDoors] OFF
