USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Cat_Tanks]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Tanks](
	[id] [nvarchar](3) NOT NULL,
	[unified_number] [nvarchar](10) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
	[serial_number] [nvarchar](10) NOT NULL,
	[input_date] [datetime] NOT NULL,
	[capacity] [float] NOT NULL,
	[level_meters_model] [nvarchar](50) NOT NULL,
	[level_meters_serial_number] [nvarchar](10) NOT NULL,
	[uniform_umber_tank] [nvarchar](10) NOT NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cat_Tanks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cat_Tanks] ([id], [unified_number], [address], [type_name], [serial_number], [input_date], [capacity], [level_meters_model], [level_meters_serial_number], [uniform_umber_tank], [description]) VALUES (N'01', N'1005741', N'Дніпропетровська область, м.Кривий Ріг, вул.Орджонікідзе,1', N'РГС-75 (резервуар горизонтальний  циліндричний сталевий)', N'1 (Д)', CAST(N'2012-08-30T00:00:00.000' AS DateTime), 74.355, N'SiteSentine', N'1807301010', N'20004316', NULL)
INSERT [dbo].[Cat_Tanks] ([id], [unified_number], [address], [type_name], [serial_number], [input_date], [capacity], [level_meters_model], [level_meters_serial_number], [uniform_umber_tank], [description]) VALUES (N'02', N'1005741', N'Дніпропетровська область, м.Кривий Ріг, вул.Орджонікідзе,1', N'РГС-75 (резервуар горизонтальний  циліндричний сталевий)', N'2 (Д)', CAST(N'2012-08-30T00:00:00.000' AS DateTime), 74.303, N'SiteSentine', N'1807301005', N'20004317', NULL)
INSERT [dbo].[Cat_Tanks] ([id], [unified_number], [address], [type_name], [serial_number], [input_date], [capacity], [level_meters_model], [level_meters_serial_number], [uniform_umber_tank], [description]) VALUES (N'03', N'1005741', N'Дніпропетровська область, м.Кривий Ріг, вул.Орджонікідзе,1', N'РГС-75 (резервуар горизонтальний  циліндричний сталевий)', N'3 (Д)', CAST(N'2012-08-30T00:00:00.000' AS DateTime), 74.541, N'SiteSentine', N'1807302010', N'20004318', NULL)
