USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Cat_OZM]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_OZM](
	[id] [nvarchar](18) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cat_OZM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cat_OZM] ([id], [name]) VALUES (N'000000000310008397', N'Масло И-12А')
INSERT [dbo].[Cat_OZM] ([id], [name]) VALUES (N'000000000310008398', N'Масло И-20А')
INSERT [dbo].[Cat_OZM] ([id], [name]) VALUES (N'000000000310008399', N'Масло И-30А')
GO
