USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[azsCards]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azsCards](
	[Id] [int] NOT NULL,
	[Number] [nvarchar](20) NOT NULL,
	[DriverName] [nvarchar](50) NULL,
	[AutoNumber] [nvarchar](50) NOT NULL,
	[Debitor] [int] NULL,
	[Sn1] [nvarchar](50) NULL,
	[Sn2] [nvarchar](50) NULL,
	[AutoModel] [nvarchar](50) NULL,
	[Street] [int] NULL,
	[House] [int] NULL,
	[CreateDate] [date] NULL,
	[CreateTime] [time](7) NULL,
	[UpdateDate] [date] NULL,
	[UpdateTime] [time](7) NULL,
	[Owner] [nvarchar](255) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[azsCards] ([Id], [Number], [DriverName], [AutoNumber], [Debitor], [Sn1], [Sn2], [AutoModel], [Street], [House], [CreateDate], [CreateTime], [UpdateDate], [UpdateTime], [Owner], [Active]) VALUES (900, N'039,25502', NULL, N'АЕ 0010 АА', 101416, N'50000749', N'АЕ 0010 АА', N'Шкода Супер Б', 10, 163, NULL, NULL, CAST(N'2018-11-29' AS Date), CAST(N'18:37:36.0110000' AS Time), N'aasoroka', 1)
INSERT [dbo].[azsCards] ([Id], [Number], [DriverName], [AutoNumber], [Debitor], [Sn1], [Sn2], [AutoModel], [Street], [House], [CreateDate], [CreateTime], [UpdateDate], [UpdateTime], [Owner], [Active]) VALUES (901, N'037,29025', NULL, N'АЕ 0098 ЕМ', 101356, N'50001291', N'АЕ 0098 ЕМ', N'Тайота Ленд Крузер 200', 10, 163, NULL, NULL, CAST(N'2019-02-15' AS Date), CAST(N'06:29:19.4550000' AS Time), NULL, 0)
INSERT [dbo].[azsCards] ([Id], [Number], [DriverName], [AutoNumber], [Debitor], [Sn1], [Sn2], [AutoModel], [Street], [House], [CreateDate], [CreateTime], [UpdateDate], [UpdateTime], [Owner], [Active]) VALUES (902, N'039,13050', NULL, N'АЕ 0098 СЕ', 101355, N'50001145', N'АЕ 0098 СЕ', N'Тайота Ленд Крузер 200', 10, 163, NULL, NULL, NULL, NULL, NULL, 1)
GO
