USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Cat_Debitor]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Debitor](
	[kunnr] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cat_Debitor] PRIMARY KEY CLUSTERED 
(
	[kunnr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cat_Debitor] ([kunnr], [name]) VALUES (N'4800000000', N'Доменный цех №1                    ')
INSERT [dbo].[Cat_Debitor] ([kunnr], [name]) VALUES (N'4800000001', N'Доменный цех №2                    ')
INSERT [dbo].[Cat_Debitor] ([kunnr], [name]) VALUES (N'4800000005', N'Агломерационный цех                ')
GO
