USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Cat_Depots]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Depots](
	[id] [nvarchar](4) NOT NULL,
	[parent_id] [nvarchar](4) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Cat_Depots] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cat_Depots] ([id], [parent_id], [name]) VALUES (N'010', N'0010', N'ДЦ-1')
INSERT [dbo].[Cat_Depots] ([id], [parent_id], [name]) VALUES (N'0105', N'0010', N'ДП-5')
INSERT [dbo].[Cat_Depots] ([id], [parent_id], [name]) VALUES (N'0106', N'0010', N'ДП-6')
GO
ALTER TABLE [dbo].[Cat_Depots]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Depots_Cat_Werks] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Cat_Werks] ([id])
GO
ALTER TABLE [dbo].[Cat_Depots] CHECK CONSTRAINT [FK_Cat_Depots_Cat_Werks]
GO
