USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[UsersActions]    Script Date: 20.10.2019 16:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersActions](
	[UserName] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[TimeStmp] [datetime] NOT NULL,
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UsersActions] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsersActions] ON 

INSERT [dbo].[UsersActions] ([UserName], [Action], [TimeStmp], [SessionID]) VALUES (N'', N'LogOFF', CAST(N'2019-02-20T13:45:18.000' AS DateTime), 2)
INSERT [dbo].[UsersActions] ([UserName], [Action], [TimeStmp], [SessionID]) VALUES (N'', N'LogOFF', CAST(N'2019-02-20T13:52:00.000' AS DateTime), 4)
INSERT [dbo].[UsersActions] ([UserName], [Action], [TimeStmp], [SessionID]) VALUES (N'', N'LogOFF', CAST(N'2019-03-11T16:45:41.000' AS DateTime), 8)
GO
SET IDENTITY_INSERT [dbo].[UsersActions] OFF
