USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[SAPdata]    Script Date: 18.08.2019 01:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAPdata](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OZM_Tank] [nvarchar](30) NULL,
	[OZM_Treb] [nvarchar](30) NULL,
	[FLAG_R] [smallint] NULL,
	[LOGIN_EXP] [nvarchar](50) NULL,
	[N_POST] [nvarchar](10) NULL,
	[TRANSP_FAKT] [nvarchar](50) NULL,
	[N_DEB] [nvarchar](30) NULL,
	[N_TREB] [nvarchar](50) NULL,
	[LGORT] [nvarchar](10) NULL,
	[WERKS] [nvarchar](10) NULL,
	[TransActID] [bigint] NULL,
	[IsSended] [smallint] NULL,
 CONSTRAINT [PK_SAPdata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
