USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Tanks_A92]    Script Date: 10.10.2019 23:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tanks_A92](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[changed] [datetime] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[B2] [bit] NOT NULL,
	[B3] [bit] NOT NULL,
	[B9] [bit] NOT NULL,
	[B11] [bit] NOT NULL,
	[B16] [bit] NOT NULL,
 CONSTRAINT [PK_Tanks_A92] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tanks_A92] ON 

INSERT [dbo].[Tanks_A92] ([id], [changed], [user], [B2], [B3], [B9], [B11], [B16]) VALUES (1, CAST(N'2019-02-01T16:08:31.217' AS DateTime), N'User_1', 1, 0, 0, 0, 0)
INSERT [dbo].[Tanks_A92] ([id], [changed], [user], [B2], [B3], [B9], [B11], [B16]) VALUES (2, CAST(N'2019-02-04T09:19:00.440' AS DateTime), N'User_1', 1, 0, 0, 0, 1)
INSERT [dbo].[Tanks_A92] ([id], [changed], [user], [B2], [B3], [B9], [B11], [B16]) VALUES (3, CAST(N'2019-02-11T10:09:04.123' AS DateTime), N'User_1', 0, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Tanks_A92] OFF
