USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Tanks_kerosene]    Script Date: 18.08.2019 01:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tanks_kerosene](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[changed] [datetime] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[33] [bit] NOT NULL,
	[38] [bit] NOT NULL,
	[39] [bit] NOT NULL,
 CONSTRAINT [PK_Tanks_kerosene] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
