USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Tanks_dt]    Script Date: 07.10.2019 23:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tanks_dt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[changed] [datetime] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[1] [bit] NOT NULL,
	[2] [bit] NOT NULL,
	[3] [bit] NOT NULL,
	[4] [bit] NOT NULL,
	[5] [bit] NOT NULL,
	[6] [bit] NOT NULL,
	[7] [bit] NOT NULL,
	[8] [bit] NOT NULL,
	[9] [bit] NOT NULL,
	[10] [bit] NOT NULL,
	[11] [bit] NOT NULL,
	[12] [bit] NOT NULL,
	[13] [bit] NOT NULL,
	[14] [bit] NOT NULL,
	[15] [bit] NOT NULL,
	[16] [bit] NOT NULL,
	[17] [bit] NOT NULL,
	[18] [bit] NOT NULL,
	[19] [bit] NOT NULL,
	[20] [bit] NOT NULL,
	[21] [bit] NOT NULL,
	[22] [bit] NOT NULL,
	[23] [bit] NOT NULL,
	[24] [bit] NOT NULL,
	[25] [bit] NOT NULL,
	[26] [bit] NOT NULL,
	[27] [bit] NOT NULL,
	[28] [bit] NOT NULL,
	[29] [bit] NOT NULL,
	[30] [bit] NOT NULL,
	[31] [bit] NOT NULL,
	[32] [bit] NOT NULL,
 CONSTRAINT [PK_Tanks_dt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tanks_dt] ON 

INSERT [dbo].[Tanks_dt] ([id], [changed], [user], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [32]) VALUES (1, CAST(N'2019-02-01T16:08:31.217' AS DateTime), N'User_1', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)
INSERT [dbo].[Tanks_dt] ([id], [changed], [user], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [32]) VALUES (2, CAST(N'2019-02-04T09:19:00.440' AS DateTime), N'User_1', 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0)
INSERT [dbo].[Tanks_dt] ([id], [changed], [user], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [32]) VALUES (3, CAST(N'2019-02-11T10:09:04.123' AS DateTime), N'User_1', 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Tanks_dt] OFF
