USE [ASU_AZSoperations]
GO
/****** Object:  Table [dbo].[Daily_Report]    Script Date: 25.06.2019 11:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daily_Report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](10) NULL,
	[date_start] [datetime] NULL,
	[date_stop] [datetime] NULL,
	[volume_start] [int] NULL,
	[mass_start] [float] NULL,
	[dens_start] [float] NULL,
	[volume_consumption] [int] NULL,
	[volume_coming] [int] NULL,
	[mass_consumption] [float] NULL,
	[mass_coming] [float] NULL,
	[volume_stop] [int] NULL,
	[mass_stop] [float] NULL,
	[dens_stop] [float] NULL,
	[send] [datetime] NULL,
 CONSTRAINT [PK_Daily_Report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Daily_Report] ON 

INSERT [dbo].[Daily_Report] ([id], [type], [date_start], [date_stop], [volume_start], [mass_start], [dens_start], [volume_consumption], [volume_coming], [mass_consumption], [mass_coming], [volume_stop], [mass_stop], [dens_stop], [send]) VALUES (833, N'107000022', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime), 183324, 135428.288, 0.73873736117475075, 170, NULL, 124.707, NULL, 183004, 135284.288, 0.7392422460711241, NULL)
INSERT [dbo].[Daily_Report] ([id], [type], [date_start], [date_stop], [volume_start], [mass_start], [dens_start], [volume_consumption], [volume_coming], [mass_consumption], [mass_coming], [volume_stop], [mass_stop], [dens_stop], [send]) VALUES (834, N'107000023', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime), 155564, 116414.008, 0.74833514180658767, 180, NULL, 134.9, NULL, 155309, 116284.008, 0.74872678338022913, NULL)
INSERT [dbo].[Daily_Report] ([id], [type], [date_start], [date_stop], [volume_start], [mass_start], [dens_start], [volume_consumption], [volume_coming], [mass_consumption], [mass_coming], [volume_stop], [mass_stop], [dens_stop], [send]) VALUES (835, N'107000024', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime), 1002968, 834068.871, 0.83160068018122213, 8480, NULL, 7078.118, NULL, 994098, 827072.87100000016, 0.83198323605922164, NULL)
GO
SET IDENTITY_INSERT [dbo].[Daily_Report] OFF
